@model IEnumerable<Assignment2.Models.EmpTask>

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center p-3">
    <h1>Tasks</h1>
    <a class="btn btn-primary" asp-action="Create">Create New Task</a>
</div>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w-25">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="w-15">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="w-15">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="w-15">
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                
                <th class="w-5">
                    Edit
                    </th>
                <th class="w-5">
                    Delete
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-success" asp-action="Edit" asp-controller="EmpTask" asp-route-id="@item.Id">
                            <i class="bi bi-pencil"></i>
                        </a>

                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-controller="EmpTask" asp-route-id="@item.Id">
                            <i class="bi bi-trash"></i>
                        </a>

                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>